<!DOCTYPE HTML>
<html>
<title>Danielle's Objective</title>
<body>
<h1>ABOUT ME</h1>
<h3>Education</h3>
<p>I started my post secondary education right after high school. My first Bachelor of Science
    degree is in Psychology. It was a great experience going through college right
    after high school and I learned a great deal both in and out of the classroom.
</p>
<p>When I returned to school for my second degree, I had three small children 
    at home. When my sons and I speak of those two and one half years now, they
    have clear memories of mom studying hard and doing lots of homework. I earned
    a Bachelor of Science degree in Mathematics with a focus in education. 
    Somehow, even with three small children at home, I managed to graduate cum laude.
    Again, I learned a great deal. However, this time, I also had the chance to
    teach at the same time.
</p>
<p>Many times as parents we forget to model what we tell our children we expect
    from them. I thankfully had this opportunity while earning my math degree. 
    Not every one gets the chance to demonstrate good study habits to their children
    and make such an impression on them at a young age. I was fortunate to have
    that opportunity and since they remember even now, it has clearly made an
    impact.
</p>
<P>The time to go back for an MS in Software Engineering came a few years ago.
    I wasn't going to let it go by and so I returned once more to college. I
    earned an MS in Software Engineering, Summa Cum Laude, from Stevens Institute
    of Technology. With two sons still in high school, it again gave me the
    opportunity to teach by example. 
</P>
<p>Last but certainly not least has been my education through Lambda School.
    The focus on data science and machine learning has been challenging but
    exciting. The power of computers is amazing. The skills I've acquired and
    the opportunity Lambda School has provided is a gift and I look forward to
    using these skills in a new role.
</p>
<h3>Work Experience</h3>
<p>The details of my work experience can be found on my resume and LinkedIn page
    I've had a variety of work experience but most jobs I've chosen to accept
    are ones that would work around my children's schedules. I am no longer going
    to be in a position where I have to think of my children's schedules. It's
    exciting to be able to choose a position based on what I want to do and the
    ability to use all the skills I've acquired in my educational experiences. 
</p>

</body>
</html>